<section class="bg_light_yellow">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="animation fancy_box text-center mb-4 mb-sm-5 mb-md-0" data-animation="zoomIn" data-animation-delay="0.02s">
                    <img src="assets/assetsfruit/images/about_img2.png" alt="about_img2"/>
                </div>
            </div>
            <div class="col-md-6"><div class="banner_text">
                        <h5 style="font-size: 40px; font-weight: 600;"><span style="color: #07d765; ">Fruti</span><span >cesta</span></h5>
                       
                    </div>
                <div class="heading_s3 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                   

                    <h2 style="text-transform: none;">Variedad y Calidad al mejor precio.</h2>
                </div>
                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.03s">8 Kg de Frutas y vegetales.</p>
                <a href="index-3.html#" class="btn btn-dark animation" data-animation="fadeInUp" data-animation-delay="0.05s">Más información</a>
            </div>
        </div>
    </div>
</section>